
<!-- <!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Titanic Data Classification!GC</title> -->
</html>
    <body text="yello" bgcolor="white">
        <center>
        <h1>Titanic Data Classification GC..</h1>
        <form method="POST" action="/titanic_prediction">
            <b> Pclass  :  <input type="text", name='Pclass', placeholder="enter "> <br><br>
                Age  :  <input type="text", name='Age', placeholder="enter "> <br><br>
                SibSp  :  <input type="text", name='SibSp', placeholder="enter "> <br><br>
                Parch  :  <input type="text", name='Parch', placeholder="enter "> <br><br>
                Fare  :  <input type="text", name='Fare', placeholder="enter "> <br><br>
                Gender  :  <input type="text", name='Gender', placeholder="enter "> <br><br>
                Embarked  : <input type="text", name='Embarked', placeholder="enter "> <br><br><br></b>
        <!-- <label>Pclass</label><br>
        <input type="text" name="Pclass"><br><br>

        <label>Age</label><br>
        <input type="text" name="Age"><br><br>

        <label>SibSp</label><br>
        <input type="text" name="SibSp"><br><br>

        <label>Parch</label><br>
        <input type="text" name="Parch"><br><br>

        <label>Fare</label><br>
        <input type="text" name="Fare"><br><br>

        <label>Gender</label><br>
        <input type="text" name="Gender"><br><br>

        <label>Embarked</label><br>
        <input type="text" name="Embarked"><br><br> -->

        <input type="SUBMIT" name="Predict"><br><br>
        </form>
        <img src='static\download.jpg' alt="live/Dead">
      </center>
    </body>
</html>
















<!-- <!Doctype html>
<html>
  <head>
    <title>The page title</title>
  </head>
  <body>
    <article>
      The main content or article.
    </article>
    <section>
      Some info about the author. 
      <div id="author_birthday">
        Their birthday, styled in a specific way.
      </div>
    </section>
  </body>
</html> -->